/* tentative styling pre-tailwind */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  font-size:large;
  font-weight:900;
  text-align: left;
  display: block;
}
.create h1 {
  color: #E07863;
  font-weight: bolder;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #E07863;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight:600
}